.header_section{
    height: 20%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border: 1px solid black;
}
.header_top{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input{
    width: 80%;
    padding:12px 20px;
    box-sizing: border-box;
    margin-left: 15px;
    border: 1px solid black;
}

.header_bot{
    width: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user_pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
}